@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid white;
    margin-left: 20px;
}

.list_btn {
    width: 100%;
}

.btn {
    font-size: 25px;
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}


.body{
    background: url("/assets/img/views/fond.jpg") center center no-repeat fixed;
    background-size: cover;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    height: 125px;
    width: 100%;
    background: black;
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.4), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.4), rgba(0,0,0,0));
    display: flex;
    align-items: center;
}


.div_all_server {
    margin-top: 125px;
    width: 100%;
}

.line{
    display: flex;
    justify-content: center;
    width: 100%;
}

.div_content{
    display: flex;
    width: 100%;
}

.server {
    text-decoration: none;
    color: #3c3c3c;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    background-color: #dedede;
    margin: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease;
}

.server:hover {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3), 0 6px 9px rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease;
}

.content {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_info {
    margin-left: 10px;
}

.logo-mc {
    width: 150px;
}

#creator-server {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

.views_creator{
    animation: apparition 0.5s linear;
}

.no_views_creator {
    animation: dis 0.5s linear;
}

.content_form_creator {
    text-align: center;
    background-color: #eeeeee;
    width: 20%;
    height: 40%;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.3);
}

.title_creator {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input_creator {
    margin-bottom: 10px;
    width: 85%;
    height: 30px;
    border-radius: 10px;
    border: none;
    border: 2px solid #3c3c3c;
    outline: none;
    padding-left: 20px;
    transition: 1s all ease;
}

.input_creator:focus {
    border-radius: 5px;
    transition: 0.3s all ease;
}

.btn_news_server {
    width: 80%;
    margin-top: 35px;
    height: 30px;
    border: none;
    background: #3c3c3c none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.6);
    transition: 0.3s all ease;
}

.btn_news_server:hover {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3), 0 6px 9px rgba(0, 0, 0, 0.6);
    transition: 0.3s all ease;
}

.close_btn_div {
    position: absolute;
    top: 50px;
    right: 50px;
}

.close_btn {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: 0.3s all ease;
}

.close_btn:hover {
    border-color: white;
    transition: 0.3s all ease;
}

@keyframes apparition{
    0% {opacity: 0;}
    100%{opacity: 1;}
}

@keyframes dis{
    0% {opacity: 1;}
    100%{opacity: 0; display: none;}
}