@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}



*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body{
    background: url("/assets/img/views/fond.jpg") center center no-repeat fixed;
    background-size: cover;
    width: 100%;
}

.content {
    background: url("/assets/img/views/fond.jpg") center center no-repeat fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form_div {
    text-align: center;
    width: 400px;
    height: 500px;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.6);
}

.title_form {
    font-size: 35px;
    margin-top: 20px;
}

.separation {
    border: 2px solid #3c3c3c;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.form {
    /*margin-top: 150px;*/
}

#pseudo {
    width: 85%;
    height: 30px;
    border-radius: 25px;
    border: none;
    border: 2px solid #3c3c3c;
    outline: none;
    padding-left: 20px;
    transition: 1s all ease;
}

#pseudo:focus {
    border-radius: 5px;
    transition: 0.3s all ease;
}

.element {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.element2 {
    margin-top: 30px;
}

#submit {
    width: 80%;
    margin-top: 35px;
    height: 30px;
    border: none;
    background: #3c3c3c none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.6);
    transition: 0.3s all ease;
}

#submit:hover {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3), 0 6px 9px rgba(0, 0, 0, 0.6);
    transition: 0.3s all ease;
}

.logo {
    width: 130px;
    margin-top: 10px;
    border: 2px solid #3c3c3c;
}