@keyframes apparition{
    0% {opacity: 0;}
    100%{opacity: 1;}
}

@keyframes dis{
    0% {opacity: 1;}
    100%{opacity: 0; display: none;}
}

#console {
    width: 600px;
    height: 300px;
    background-color: #000000;
    color: white;
    overflow: auto;
}

#eula {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

.views_eula{
    animation: apparition 0.5s linear;
}

.no_views_eula {
    animation: dis 0.5s linear;
}

.content_form_eula {
    text-align: center;
    background-color: #eeeeee;
    width: 20%;
    height: 40%;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.3);
}

.title_creator {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}